@using Camping.App_GlobalResources

@{
    ViewBag.Title = @Resource.EndRegistration;
}

<div>
    <!-- banner-bottom -->
    <div class="banner-bottom">
        <!-- container -->
        <div class="container">
            <div class="faqs-top-grids">
                <div class="book-grids">
                    <div class="col-md-3 book-left">

                    </div>
                    <div class="col-md-6 book-right book-left">
                        <h2>@Resource.EndRegistration</h2>
                        <p>
                            @Resource.Massage
                        </p>

                    </div>
                    <div class="col-md-3 book-right">

                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        <!-- //container -->
    </div>
    <!-- //banner-bottom -->
</div>

