
@{
    ViewBag.Title = "AfterRegistration";
}

<div class="banner holidays-banner">
    <!-- container -->
    <div class="container">
        <div class="deals-info">
            <h2>Save more with these TOP PICKS</h2>
        </div>
    </div>
    <!-- //container -->
</div>

