@using Camping.App_GlobalResources
@{
    ViewBag.Title = Resource.HomePage;
}

<div class="banner">
    <div class="container">
        <div class="col-md-4 banner-left">
            <section class="slider2">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="slider-info">
                                <img src="/images/11.jpg" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="slider-info">
                                <img src="/images/12.jpg" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="slider-info">
                                <img src="/images/13.jpg" alt="">
                            </div>
                        </li>                      
                    </ul>
                </div>
            </section>
        </div>
        <div class="col-md-8 banner-right">
            <div class="sap_tabs">
                <div style="color: #fff">
                    @Resource.About
                </div>
            </div>
        </div>
    </div>
</div>